<page-header [title]="'用户详情'"></page-header>
<nz-card [nzHoverable]="true" [nzBordered]="false">
  <div class="mb-md">
    <button nz-button (click)="goBack()" [nzType]="'default'">
      <i class="anticon anticon-left-circle-o"></i>
      <span>返回</span>
    </button>
  </div>
  <nz-spin [nzSize]="'large'" nzTip="Loading..." [nzSpinning]="isSpinning">
    <desc-list size="large" title="基本信息" class="mb-lg">
      <desc-list-item term="用户编号">{{user.userId}}</desc-list-item>
      <desc-list-item term="姓名">{{user.name}}</desc-list-item>
      <desc-list-item term="身份证号">{{user.idNumber}}</desc-list-item>
    </desc-list>
    <nz-divider class="mb-lg"></nz-divider>
  </nz-spin>
</nz-card>
